@model IList<WebSiteRestaurante.Models.TaxaServicoModel>

@{
    ViewBag.Title = "TaxaServicoPorGarcom";
    Layout = "~/Views/Home/Menu.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="offset-1 col-md-10" style="margin-top: 10px; margin-bottom: 10px">
            <h4><b>Relatório Taxa de Serviço por Garçom e Período De: @ViewBag.dataInicial.ToShortDateString() á @ViewBag.dataFinal.ToShortDateString()</b></h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="offset-1 col-md-10">
                <table class="table">
                    <tr style="background-color:lightgray">
                        <th>Nome do Garçom</th>
                        <th>Data</th>
                        <th>Valor por data</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.usuario.nome
                            </td>
                            <td>
                                @item.data.ToShortDateString()
                            </td>
                            <td>
                                @item.valor.ToString("N")
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-md-10">
                @Html.ActionLink("GERAR PDF", "ReportViewerTaxaServivoPorGarcom", new { gerarPDF = true, dataInicial = ViewBag.dataInicial, dataFinal = ViewBag.dataFinal }, new { target = "_blank", type = "button", @class = "btn btn-primary btn-sm" })
            </div>
        </div>
    </div>
</div>


